/* Estilos básicos para o layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("Convite\ de\ Casamento\ Renda\ Floral\ Dourado.png"); /* Adiciona a imagem de fundo */
    background-size: contain; /* A imagem se ajusta dentro do body */
    background-repeat: no-repeat; /* A imagem não se repete */
    background-position: center; /* A imagem é centralizada */
    color: #333;
    padding: 10px;
}

header {
    text-align: center;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
}

h1 {
    font-size: 100px; /* Aumentado para dar mais destaque */
    font-family: 'Brush Script MT', cursive;
    color: #000000; /* Cor branca */
    margin-bottom: 10px;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    display: flex; /* Mudança para flex para alinhar a imagem e o texto lado a lado */
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left; /* Alinha o texto à esquerda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-width: 20px; /* Tamanho da imagem */
    height: auto; /* Manter a proporção da imagem */
    margin-right: 15px; /* Espaçamento entre a imagem e o texto */
    filter: drop-shadow(10px 5px 20px rgba(0, 0, 0, 0.5)); /* Aplica a sombra com novos valores */
}

.product-info {
    display: flex;
    flex-direction: column; /* Para empilhar o nome e o preço */
    justify-content: center; /* Centraliza verticalmente */
}

.product h2 {
    font-size: 18px;
    margin: 0; /* Remove margem para melhor alinhamento */
}

.product p {
    font-size: 16px;
    color: #d32f2f;
    margin: 5px 0; /* Margem entre o nome e o preço */
}

@media (max-width: 600px) {
    body {
        background-size: contain; /* Em telas menores, a imagem se ajusta dentro do elemento */
        background-attachment: scroll; /* A imagem se move com o conteúdo */
    }
}
